/*Eric Meyer Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*This is the start of my CSS implementation*/

body {
  font-family: "Poppins", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  display: none;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
}

.topnav h1 {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 900;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 1.5vh;
  top: 1.5vh;
}

.topnav a:hover {
  background-color: #ddd;
  color: #1f6bb2;
}

.active {
  background-color: #1f6bb2;
  color: white;
  height: 6vh;
}

header {
  background-color: #1f6bb2;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#portfolio {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  margin-left: 3%;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  transition: color 0.25s ease-in;
}

nav a:hover {
  color: black;
}

h2,
#name {
  color: black;
}

h2 {
  font-size: 3rem;
}

#intro {
  font-size: 2.5rem;
}

#name {
  font-weight: 700;
  font-size: 6rem;
}

span.title {
  color: #1f6bb2;
  font-weight: 700;
}

#hirebtn {
  text-decoration: none;
  color: white;
  background-color: #1f6bb2;
  padding: 2%;
  border-radius: 25px;
  font-size: 2rem;
  border: 3px solid #1f6bb2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: background-color 0.25s ease-in, transform 0.25s ease-in;
}

#hirebtn:hover {
  color: black;
  background-color: white;
  transform: translateX(30%);
}

main div img {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: 20% 20%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
  height: 60vh;
}

#main-text {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 7%;
}

#whatiam {
  line-height: 6vh;
}

#pro-pic {
  margin-right: 12%;
}

#aboutme {
  width: 100%;
  height: 100vh;
  background-color: #1f6bb2;
  color: white;
  margin-top: 25vh;
}

#abouttitle {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding-top: 20vh;
}

#aboutmetext {
  text-align: center;
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutmetext p {
  width: 40%;
  line-height: 3vh;
  margin-top: 15vh;
}

#skills {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15vh;
}

#skills-title,
#contact-title {
  font-size: 3rem;
  font-weight: 900;
}

#HTML-logo,
#CSS-logo,
#JS-logo,
#SOL-logo {
  width: 30vh;
  height: 30vh;
  border-radius: 30%;
  object-fit: contain;
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skills-items p {
  text-align: center;
  padding: 3vh;
  font-size: 2rem;
  font-weight: 700;
}

#skills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#projects {
  background-color: #1f6bb2;
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20vh;
  padding: 10vh 0;
}

#projects-title {
  font-weight: 900;
  font-size: 3rem;
  margin-left: 20vh;
}

#projects-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3%;
  margin-right: 10vh;
}

.projects-items img {
  width: 30vh;
  height: 30vh;
}

.projects-items img:hover {
  opacity: 0.6;
}

.projects-items p {
  text-align: center;
  padding-bottom: 3vh;
}

#contact {
  width: 100%;
  height: 100vh;
}

#contact-title {
  text-align: center;
  padding: 15vh;
}

#linkedin-logo,
#github-logo {
  width: 20vh;
  height: 20vh;
}

.contact-items p {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 3vh 0;
}

.contact-items a:hover {
  opacity: 0.7;
}

#contact-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

#linkedin-logo {
  margin-left: 5vh;
}

#github-logo {
  margin-left: 2vh;
}

#bottom-bar {
  background-color: #1f6bb2;
  height: 5vh;
}

#bottom-bar p {
  text-align: center;
  padding-top: 1.75vh;
  color: white;
}

/* ATTENTION
Please view this project at 1650x843 pixels since it is not responsive yet
Please view this project at 1650x843 pixels since it is not responsive yet
Please view this project at 1650x843 pixels since it is not responsive yet
ATTENTION */

@media (max-width: 1920px) {
  #projects {
    height: 130vh;
  }
}

@media (max-width: 1620px) {
  #projects-container {
    width: 60%;
    margin-right: 0vh;
    height: 70%;
    margin-bottom: 1vh;
  }

  #projects-title {
    margin-left: 0vh;
    padding-top: 3vh;
  }

  #projects {
    flex-direction: column;
    height: 120vh;
  }
}

@media (max-width: 1496px) {
  #pro-pic {
    margin-right: 3vh;
  }
}

@media (max-width: 1366px) {
  #linkedin-logo {
    margin-left: 10vh;
  }
}

@media (max-width: 1346px) {
  #projects {
    height: 170vh;
  }

  #name {
    font-size: 4rem;
  }

  #intro,
  #whatiam {
    font-size: 2rem;
  }

  #pro-pic {
    margin-right: 15vh;
  }

  #abouttitle {
    margin-bottom: 5vh;
  }
}

@media (max-width: 1180px) {
  #aboutme {
    height: 130vh;
  }

  #aboutmetext {
    margin-top: 10vh;
  }
}

@media (max-width: 1162px) {
  #main-text {
    height: 50%;
    margin-left: 40vh;
  }

  main {
    height: 100vh;
  }

  #pro-pic {
    margin-left: 40vh;
    margin-top: 10vh;
  }
}

@media (max-width: 1150px) {
  #skills-container {
    gap: 6vh;
  }

  #skills {
    height: 150vh;
  }

  #skills-title {
    margin-bottom: 5vh;
  }
}

@media (max-width: 1127px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #main-text {
    margin-left: 8vh;
  }

  #pro-pic {
    margin: 0;
    height: 50%;
  }
}

@media (max-width: 1035px) {
  #aboutmetext {
    margin-top: 15vh;
  }
}

@media (max-width: 1000px) {
  #aboutmetext p {
    width: 60%;
  }
}

@media (max-width: 820px) {
  #projects {
    height: 320vh;
  }
}

@media (max-width: 800px) {
  .topnav {
    display: block;
  }

  header {
    display: none;
  }
}

@media (max-width: 766px) {
  #projects {
    height: 320vh;
  }

  #projects-container {
    margin-bottom: 50vh;
  }
}

@media (max-width: 655px) {
  #contact {
    height: 130vh;
  }

  #github-logo {
    margin-left: 4vh;
  }

  #linkedin-logo {
    margin-left: 12vh;
  }

  #intro,
  #whatiam {
    font-size: 2rem;
  }

  #hirebtn {
    font-size: 1.5rem;
  }

  #name {
    font-size: 3rem;
  }

  #aboutmetext p {
    font-size: 0.8rem;
  }

  #aboutmetext {
    margin-top: 10vh;
  }
}

@media (max-width: 556px) {
  #aboutmetext {
    margin-top: 15vh;
  }

  #intro,
  #whatiam {
    font-size: 1.5rem;
  }
}

@media (max-width: 526px) {
  #aboutmetext {
    margin-top: 20vh;
  }

  #aboutme {
    height: 140vh;
  }
}

@media (max-width: 500px) {
  #skills-container {
    flex-direction: column;
    align-items: center;
  }

  #skills {
    height: 250vh;
  }
}

@media (max-width: 492px) {
  #main-text {
    gap: 3%;
  }
}

@media (max-width: 444px) {
  #aboutmetext {
    margin-top: 30vh;
  }

  #aboutme {
    height: 150vh;
  }

  #contact {
    height: 150vh;
  }
}

@media (max-width: 433px) {
  #intro,
  #whatiam {
    font-size: 1.4rem;
  }

  #pro-pic img {
    height: 40vh;
    width: 40vh;
  }
}

@media (max-width: 425px) {
  #main-text {
    margin-left: 4vh;
  }
}

@media (max-width: 384px) {
  #whatiam,
  #intro {
    font-size: 1.2rem;
  }

  #name {
    font-size: 2.5rem;
  }

  #aboutme {
    height: 170vh;
  }

  #aboutmetext {
    margin-top: 40vh;
  }
}

@media (max-width: 376px) {
  #main-text {
    margin-left: 3vh;
  }

  #pro-pic img {
    height: 30vh;
    width: 30vh;
    margin-left: 2vh;
  }

  main {
    height: 80vh;
    margin-top: 8vh;
  }

  #linkedin-logo {
    margin-left: 14vh;
  }
}

@media (max-width: 360px) {
  .contact-items p {
    text-align: center;
  }
}
